html {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #f8f8a7;
}

.headerContainer {
  min-height: 100%;
  min-width: 100%;
}

.topBarContainer {
  background-color: #f8d0a7;
}

.topNavigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  min-height: 100%;
  margin: 0;
}

.topNavigation li {
  padding-right: 10px;
}

.topNavigation img {
  width: 1.5em;
  height: 1.5em;
}

.logoContainer {
  display: flex;
  margin-left: 8em;
  padding-top: 10px;
}

.logoContainer img {
  height: 10em;
  width: 10em;
}

.innerContainer {
  background-color: #ffffff;
  margin-left: 8em;
  margin-right: 8em;
  border-image-source: url(../pictures/cartoons/KidsWaingLeft.png);
  border-image-slice: 20;
  border-image-width: 20;
  border-image-outset: 1;
  border-image-repeat: round;
}

.navigationBar {
  background-color: #f8d0a7;
}

.navigationBar ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.navigationBar li {
  background-color: #f8d0a7;
  border: 1px solid #bbb;
}

.navigationBar li:hover {
  background-color: #f8e4a7;
}

.navigationBar a {
  text-decoration: none;
}

.navImage {
  align-self: center;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.navText {
  text-align: center;
}


.slideShowElement img {
  margin: auto;
  display: block;
  max-width: 50%;
}

.slideShowDots {
  text-align: center;
}

.dot {
  cursor: pointer;
  border-radius: 50%;
  background-color: #bbb;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.bottomBlocks {
  margin: auto;
  display: block;
}

.dropDown {
  cursor: pointer;
}

.dropDownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
}

.dropDownContent a {
  display: block;
  text-decoration: none;
  color: black;
}

.show {
  display: block;
}
