.nav {
    text-align: center;
    text-decoration: none;
}

.item {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

#logo {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
